<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8">
		<title>Meraki tools</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/net.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/net.js') }}"></script>
	</head>

	<body>
		<h1>{{Network_name}}</h1>
		<a href="/">home</a> > <b>{{Network_name}}</b>

		<br>
		<div class="flame">
			<div class="flame_menu">
				<div>
					<div class="category_l center"><h3>カテゴリー</h3></div><div class="item"><h3 align="center">設定</h3></div>
				</div>
				<hr>
				<div>
					<div class="category_l"><h4>ネットワーク全体</h4></div>
						<div class="category_m">
							<a href="net/general" target="main">一般</a><br>
							<a href="net/admin" target="main">管理</a><br>
							<a href="net/alert" target="main">アラート</a><br>
							<a href="net/general" target="main">ユーザー</a><br>
						</div>
				</div>
				<hr>
				<div>
					<div class="category_l"><h4>セキュリティ＆<br>SD-WAN</h4></div>
						<div class="category_m">
							<a href="net/general" target="main">アドレスとVLAN</a><br>
							<a href="net/general" target="main">DHCP</a><br>
							<a href="net/general" target="main">ファイアウォール</a><br>
							<a href="net/general" target="main">サイト間VPN</a><br>
							<a href="net/general" target="main">クライアントVPN</a><br>
							<a href="net/general" target="main">Active Directory</a><br>
							<a href="net/general" target="main">SD-WAN ＆ トラフィックシェーピング</a><br>
							<a href="net/general" target="main">アクセス制御</a><br>
						</div>
				</div>
				<hr>
				<div>
					<div class="category_l"><h4>スイッチ</h4></div>
						<div class="category_m">
							<a href="net/general" target="main">ルーティングとDHCP</a><br>
							<a href="net/general" target="main">ACL</a><br>
							<a href="net/general" target="main">アクセスポリシー</a><br>
							<a href="net/general" target="main">ポートのスケジュール</a><br>
							<a href="net/general" target="main">スイッチポート</a><br>
							<a href="net/general" target="main">スイッチの設定</a><br>
						</div>
				</div>

			</div>

			<div class="flame_main">
				<br>
				<iframe id="newframe" onLoad="adjust_frame_css(this.id)"
						src="net/blank" name="main" frameborder="0" width="100%"></iframe>
			</div>
		</div>
	</body>

</html>
