<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8">
		<title>Meraki tools</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	</head>

	<body>
		<h1>{{Network_name}}</h1>
		<a href="/">home</a> > <b>{{Network_name}}</b>

		<br>
		<div class="flame">

			<div class="flame_left">
				<table width="100%">
					<tr align="center"><td width="150px" class="gray"><h3>カテゴリー</h3></td><td><h3>設定</h3></td></tr>

					<tr><td rowspan="5" valign="top"><h4>ネットワーク全体</h4></td><td>一般</td></tr>
						<tr></td><td>管理</td></tr>
						<tr></td><td>アラート</td></tr>
						<tr></td><td>グループポリシー</td></tr>
						<tr></td><td>ユーザー</td></tr>
					<tr><td rowspan="10" valign="top"><h4>セキュリティ＆<br>SD-WAN</h4></td><td>アドレスとVLAN</td></tr>
						<tr></td><td>DHCP</td></tr>
						<tr></td><td>ファイアウォール</td></tr>
						<tr></td><td>サイト間VPN</td></tr>
						<tr></td><td>クライアントVPN</td></tr>
						<tr></td><td>Active Directory</td></tr>
						<tr></td><td>SD-WAN ＆ <br>トラフィックシェーピング</td></tr>
						<tr></td><td>アクセス制御</td></tr>
						<tr></td><td>Splashページ</td></tr>
						<tr></td><td>ワイヤレスコンセントレータ</td></tr>
					<tr><td rowspan="6" valign="top"><h4>スイッチ</h4></td><td>ルーティングとDHCP</td></tr>
						<tr><td>ACL</td></tr>
						<tr><td>アクセスポリシー</td></tr>
						<tr><td>ポートのスケジュール</td></tr>
						<tr><td>スイッチポート</td></tr>
						<tr><td>スイッチの設定</td></tr>
				</table>
			</div>
			<div class="flame_right">
				aaa
			</div>
		</div>
	</body>
</html>
