<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8">
		<title>Meraki tools</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/net.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/net_admin.js') }}"></script>
	</head>

	<body>
		<form method="post" name="net_adm" action="/net/admin">
			<h1>管理</h1>
			<div class="table">
				<div class="table_tr">
					<div class="item">NW管理者一覧</div>
					<div class="value">
						<div class="table" id="admin">
							<div class="table_row">
								<div class="table_header" style="width:200px">ユーザー名</div>
								<div class="table_header" style="width:400px">メールアドレス</div>
								<div class="table_header" style="width:150px">ステータス</div>
								<div class="table_header" style="width:130px">権限</div>
								<div class="table_header" style="width:120px"></div>
							</div>
							{{admin_list | safe}}
						</div>
						<div class="btn_area"><input id="add_btn" type="button" value="ユーザ追加"/></div>	
					</div>
				</div>
			</div>

			<input type="hidden" name="net_id" value="{{Network_id}}">
		</form>
	</body>
</html>
