<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8">
		<title>Meraki tools</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/net_general.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/net_general.js') }}"></script>
	</head>

	<body>
		<form method="post" name="net_gen" action="/net/general">
			<h1>一般</h1>
			<table>
				<tr><td>ネットワーク名</td><td><input type="text" name="net_name" size="50" maxlength="50" value="{{Network_name}}"></td></tr>
				<tr><td>ローカルタイムゾーン</td><td>
					<select name="net_time">{{TZ_list | safe}}
					</select>
				</td></tr>
			</table>

			<hr>
			<h1>レポーティング</h1>
			<table>
				<tr><td width="200px">syslogサーバ</td>
					<td><table id="syslogs"><tr><td class="gray" align="center" width="150px">サーバIP</td><td class="gray" align="center" width="100px">ポート番号</td><td class="gray" align="center">ロール</td></tr>{{syslog_list | safe}}
						</table></td></tr>
					<tr><td></td><td align="right"><input id="add_btn" type="button" value="サーバ追加"/><br></td></tr>
				<tr><td>NetFlowトラフィックレポート</td>
					<td><table><tr><td class="gray" align="center">有効/無効</td><td class="gray" align="center">NetFlowコレクタIP</td><td class="gray" align="center">
NetFlowコレクタポート</td></tr>
						<tr><td><input type="checkbox" name="net_netflow_on" value="1">有効化</td>
							<td><input type="text" name="net_netflow_ip" value=""></td>
							<td><input type="text" name="net_netflow_port" value=""></td>
						</table></td></tr>
			</table>

			<input type="hidden" name="net_id" value="{{Network_id}}">
		</form>
	</body>
</html>
